.menu {
    background: #131924 !important;
    color: #FFF !important;
   
}

.headerStyle {
    color: #FFF !important;
    border-width: 1px 0px !important;
    border-style: solid !important;
    border-color: #4E4D6E !important;
}